.main{
    width:40%;
    
    background-image: linear-gradient(45deg,rgb(7, 7, 138),black);
    margin-left:auto;
    margin-right:auto;
    margin-top:120px;
    border-radius: 15px;
}
.logo{
    background-color: aqua;
    width: 25%;
    height: 18vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    position: relative;
    top: -59px;
    text-align: center;
    padding-top:13px;
    box-sizing:border-box;


}
.signupicon{
    font-size: 101px;
    
}
.main  span{
    font-size: 25px;
    color:lightblue;
    position:relative;
    left: 225px;
    top: -51px;
}
.formgroup{
    padding:10px;
    width:100%;

}
.formlabel{
    font-size: 23px;
    color:#5959aa;
    margin-left:10px;
    font-family: 'Lucida Sans Regular';

}
.forminput{
    width:96%;
    height:5vh;
    border:none;
    border-radius:10px;
    background-color: #1b1b64;
    margin-top: 3px;
    font-size: 23px;
    transition:all 1s ease;
}
.btn{
    width: 32%;
    padding: 15px;
    font-size: 23px;
    font-family: 'Lucida Grande';
    border: none;
    border-radius: 10px;
    background-color: #ffffff00;
    box-shadow: 2px 2px 8px #e3c2c2;
    color: cyan;
    transition:all 1s ease;
    margin-bottom:10px;
}
.forminput:hover{
    background-color:whitesmoke;
}
.btn:hover{
    background-color:blue;
}
.textlink{
    text-decoration:none;
    font-family: segoe script;
}
.close{
    position: fixed;
    right: 0;
    top:10px;
    margin-right: 10px;
    color:#082748;
    font-family:segoe script;
    text-decoration: none;
    z-index: 999999;
    font-size: 30px;
    
    padding: 10px;
    border-radius: 50%;
    width:2%;
    height:5vh;
    text-align: center;
  }
  .close:hover{
    border:1px solid black;
    background-color: rgba(0, 255, 255, 0.226);
  }